/* nav {
    background-color: #2a99a6;
} */

nav a{
    color: #fff !important;
}

nav div a img{
    width: 9%;
}

@media(max-width: 576px){
    nav div{
        text-align: center;
    }

    nav div a img{
        width: 20%;
    }

    nav div button{
        width: 100%;
    }
}

main{
    background-color: black;
}

.titulos{
    color: white;
    text-transform: uppercase;
}

.encabezado{
    background-color: #2a99a6;
    color: white;
    text-align: center;
    font-size: 30px;
}

.colorLetras{
    color: #fff;
}