/* nav {
    background-color: #2a99a6;
} */
html{
    scroll-behavior: smooth;
}
nav a{
    color: #fff !important;
    font-family: 'Roboto';
}

nav div a img{
    width: 9%;
}

.imagenCarousel{
    aspect-ratio: 	3/2;
}

@media(max-width: 576px){
    nav div{
        text-align: center;
    }

    nav div a img{
        width: 20%;
    }

    nav div button{
        width: 100%;
    }
}

main{
    background-color: black;
}

.titulos{
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto';
}

.encabezado{
    background-color: #0dcaf0;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto';
}

.colorLetras{
    color: #fff;
    font-family: 'Roboto';
}

.fondoCard{
    background-color: #0dcaf0;
}

#destacado .container .row div div img{
    height: 13rem;
}

footer{
    background-color: #0dcaf0;
    /* height: 15rem; */
}

footer i{
    color: #fff;
    font-size: 30px;
}

.custom-tooltip {
    --bs-tooltip-bg: #0dcaf0;
    --bs-tooltip-color: #fff;
    font-size: 30px;
  }