/* nav {
    background-color: #2a99a6;
} */

nav a{
    color: #fff !important;
}

nav div a img{
    width: 9%;
}

@media(max-width: 576px){
    nav div{
        text-align: center;
    }

    nav div a img{
        width: 20%;
    }

    nav div button{
        width: 100%;
    }
}